FEATURES_EMAIL_APP="http://integration:16080"
FEATURES_JSON_APP="http://integration:16081"
FEATURES_MAINTENANCE_MODE_APP="http://integration:16084"
FEATURES_CONDITIONAL_STEPS_APP="http://integration:16085"
COMPONENTS_AUTOCOMPLETE_APP="http://integration:16086"
COMPONENTS_CHECKBOXES_APP="http://integration:16087"
COMPONENTS_DATE_APP="http://integration:16088"
COMPONENTS_EMAIL_APP="http://integration:16089"
COMPONENTS_FIELDSET_APP="http://integration:16090"
COMPONENTS_NUMBER_APP="http://integration:16091"
COMPONENTS_RADIOS_APP="http://integration:16092"
COMPONENTS_SELECT_APP="http://integration:16093"
COMPONENTS_TEXT_APP="http://integration:16094"
COMPONENTS_TEXTAREA_APP="http://integration:16095"
COMPONENTS_UPLOAD_APP="http://integration:16096"
COMPONENTS_UPLOAD_WITH_CONDITIONAL_APP="http://integration:16097"
OUTPUT_RECORDER_ENDPOINT="http://integration:3003"
